<%- include('../partials/header') %>

<link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Update tour</title>
</head>
<body>
  <%- include('../partials/navbar') %>

    <div class="head-name">
      <h3>Create a new Tour</h3>
    </div>
    <!-- Update tour form -->
    <div class="update-create-form">

    <form action="/tours/new/create" method="POST">
        <div class="form-group">
          <label for="name">Tour Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name">      
        </div>

        <div class="form-group">
            <label for="image">Tour image</label>
            <input type="url" class="form-control" id="image" name="image" placeholder="Image">   
        </div>

        <div class="form-group">
          <label for="tourType">Tour Type</label>
          <select class="form-control" id="tourType">
            <option value="Aqua Advantures">Aqua Advantures</option> 
            <option value="Historical places">Historical places</option>
            <option value="Food Tasting">Food Tasting</option>
            <option value="Fun activities">Fun activities</option>
          </select>
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="location">   
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="price">   
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="5" rows="5" cols="50" name="description" placeholder="description">
        </textarea>
        </div> 

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      <a href="/tours"><button type="submit" class="btn btn-danger">Cancel</button></a>
    </div>
<%- include('../partials/footer') %>